authService:
  environment:
     INFO_APP_VERSION: ${TAG_NAME}
  image: cjmason8/auth-service:${TAG_NAME}
  external_links:
    - postgres/postgres:postgres
  volumes:
    - /applogs:/applogs
    - /resources:/resources

